.sideMenu {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
    max-width: 250px;

    padding: 20px 10px;

    background: var(--orange-500);
}

.menu {
    flex: 1;
    list-style: none;
}

.closeMenu {
    height: 50px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: end;
}

.menuButton {
    width: 40px;
    height: 40px;

    border: none;
    background: none;

    color: var(--white);
}

.menuLink {
    display: block;
    text-decoration: none;
}

.itemMenu {
    display: block;

    width: 100%;
    height: 40px;

    padding: 30px 15px;
    margin: 10px 0;

    font-size: 1rem;

    border-radius: 10px;
    border: none;
    cursor: pointer;

    display: flex;
    align-items: center;
    gap: 10px;

    color: var(--white);
    background: none;
}

.exitButton {
    width: 100%;
    height: 40px;

    padding: 30px 15px;

    display: flex;
    align-items: center;
    gap: 10px;

    font-family: var(--primary-font);
    font-size: 1rem;
    color: var(--white);

    border: none;
    background: none;
}

.itemMenu.active {
    background: var(--orange-550);
}


@media (min-width: 1024px) {
    .closeMenu {
        display: none;
    }
}
